#contact-parent {
    position: relative;
    border-radius: 10pt;
    text-align: center;
    padding: 0% 5% 3%; /* top, left-right, bottom */
    margin: 0% 10%;
}
@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */
    #contact-parent {
        margin: 0% 10%;
    }
}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    #contact-parent {
        margin: 0% 10%;
    }
}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    #contact-parent {
        margin: 0% 10%;
    }
}
@media (min-width:800px)  { /* Custom */
    #contact-parent {
        margin: 0% 0%;
    }
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
    #contact-parent {
        margin: 0% 5%;
    }
}
@media (min-width:980px)  { /* Custom */
    #contact-parent {
        margin: 0% 5%;
    }
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
    #contact-parent {
        margin: 0% 10%;
    }
}
@media (min-width:1150px) { /* Custom */
    #contact-parent {
        margin: 0% 10%;
    }
}
  
.contact-container {
    display: inline-block;
    border: 2px solid var(--main-color);
    background-color: var(--main-color);
    position: relative;
    width: 10%;
    min-width: 6em;
    height: 6em;
    transition: all 0.3s;
    cursor: pointer;
    vertical-align: middle;
}

.contact-text-wrap {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
  
.contact-text, .contact-img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
.contact-text {
    font-family: 'Roboto', sans-serif;
    opacity: 0;
    z-index: 1;
}
.contact-text h2,p {
    margin: 4pt;
}
  
.contact-img img {
    margin: auto;
    display: block;
    height: 100%;
    filter: brightness(0) invert(1);
}

#contact-github {
    border-radius: 10pt 3pt 3pt 10pt;
}
#contact-mail {
    border-radius: 3pt;
}
#contact-linkedin {
    border-radius: 3pt 10pt 10pt 3pt;
}
  
@keyframes fade {
    0% {
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        filter: blur(0px);
        opacity: 1;
    }
}
  
.contact-container.active {
    border: 2px solid var(--main-color);
    background-color: white;
    width: 70%;
}
.contact-container.active .contact-img {
    animation: fade 0.25s ease-in-out forwards reverse;
}
.contact-container.active .contact-text {
    animation: fade 0.25s ease-in-out forwards normal;
}
